{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
// properties alias sẽ ref vào data "./src"
// thay vì viết import App from "/src/App"
// có thể viết import App from "~/App"
// có thể define nhiều properties alias